main {
    display: flex;
    flex-direction: row;
    margin: 5px;
    height: 100%;
    align-items: flex-start; /* Prevents vertical stretching shifts */
}

#top-menu{
    height:5em;
    background-color: rgb(187, 187, 187);
    gap:2em;
    display:flex;
    flex-direction: row;
    margin:5px;
}

#box{
    margin:auto;
    height: 38em;
    width:38em;
    border: 1px solid black;
    gap:10px;
    position: relative;
}


.ball {
    width: 15px;
    height: 15px;
    background-color: #ff4757;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    }

.ballPreview{
   width: 30px;
    height: 30px;
    background-color: #ff4757;
    border-radius: 50%;
    cursor: pointer;
}

.topBall{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:5px;
    border: 1px solid black;
}

.ballInfo {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    background-color: rgb(221, 221, 221);
    
    width: 20em;
    min-width: 20em;
    flex-shrink: 0;
    
    height: 38em; 
    box-sizing: border-box;
    padding: 10px;
}


